.content{
    width: 100%;
}

.pokemon{
    float: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 10px 10px #e8f5ee;
    width: 18%;
    height: 200px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
}

.pokemon>img{
    margin: 3px;
}

.pokemon>div{
    position: absolute;
    left: 3;
    top: 3;
    background-color: rgb(230, 138, 165);
    border: 1px solid rgb(230, 138, 165);
    border-radius: 0px 5px 0px 5px;
    padding: 2px;
}